body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid gray;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  background-color: lavenderblush;
  color: black;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed gray;
}

.past {
  background-color: plum;
  color: white;
}

.present {
  background-color: lavenderblush;
  color: white;
}

.future {
  background-color: powderblue;
  color: white;
}

.save-btn {
  border-left: 1px solid gray;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: lightgray;
  color: white;
}

.save-btn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
